<%= simple_form_for(model) do |f| %>
  <%= f.error_notification %>
  <div class="panel-tiles">
    <%= model.with_form_panel('attributes', :info) do %>
      <%= f.input :title, input_html: { class: 'form-control' } %>
    <% end %>
    <%= model.with_form_panel('work_publication_strategy', :info) do %>
      <%= render 'form_for_work_publication_strategy', { f: f } %>
    <% end %>
  </div>
  <div class="<%= dom_class(model, 'actions') %> action-pane">
    <%= f.submit %>
  </div>
<% end %>
