<%
  # REVIEW: It appears as though we need an ActionSet container decorator.
  available_enrichment_actions = model.enrichment_actions(user: current_user)
  has_available_enrichment_actions = available_enrichment_actions.present?
  available_state_advancing_actions = model.state_advancing_actions(user: current_user)
  has_available_state_advancing_actions = available_state_advancing_actions.detect { |action| action.available? }

  if has_available_state_advancing_actions
    state_advancing_alert_class = 'alert-success'
    state_advancing_i18n_token = 'can_advance'
  else
    state_advancing_alert_class = 'alert-info'
    state_advancing_i18n_token = 'cannot_advance'
  end
%>

<% state_advancing_actions = capture do %>
  <div class="work-actions" itemprop="hasPart" itemscope itemtype="http://schema.org/Enumeration/ProcessingState">
    <meta itemprop="name" content="work/processing_state" />
    <%# Opting to not use a meta-tag instead; If this becomes a meta-tag, then
    the underlying tests will need to change to find[:content] instead of find.text %>

    <span class="visuallyhidden">It is <span itemprop="description"><%= model.processing_state %></span>.</span>

    <ul class="action-listing">
      <% available_state_advancing_actions.each do |action| %>
        <li itemprop="potentialAction" itemscope itemtype="http://schema.org/Action" class="action-wrapper">
          <meta itemprop="name" content="event_trigger/<%= action.name %>" />
          <% if action.available? %>
            <div itemprop='target' itemscope itemtype="http://schema.org/EntryPoint" class="action">
              <meta itemprop="name" content="<%= action.name %>" />
              <a itemprop="url" href="<%= action.path %>" class="btn btn-primary %>">
                <%= t("sipity/works.state_advancing_actions.label.#{ action.name }") %>
              </a>
            </div>
          <% else %>
            <div itemprop='target' itemscope itemtype="http://schema.org/EntryPoint" class="action">
              <meta itemprop="name" content="<%= action.name %>" />
              <span class="btn btn-default disabled">
                <%= t("sipity/works.state_advancing_actions.label.#{ action.name }") %>
              </span>
            </div>
          <% end %>
          <span itemprop="actionStatus" class="visuallyhidden"><%= action.availability_state %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<section itemscope itemtype="http://schema.org/CreativeWork">
  <% state_notice = t("sipity/works.processing_state.#{model.processing_state}.#{state_advancing_i18n_token}") %>
  <% if state_notice.present? %>
    <div class="row">
      <div class="col-xs-12">
        <div class="alert <%= state_advancing_alert_class %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= t("sipity/works.processing_state.#{model.processing_state}.#{state_advancing_i18n_token}") %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 work-show page-header">
      <h1 class="work-title">
        <span itemprop="name"><%= model.title %></span>
      </h1>
      <p class="work-status">
        <%= content_tag :span, t("simple_form.options.defaults.work_type.#{model.work_type}"), class: 'work-type' %> &bull;
        <%= content_tag :span, t("sipity/works.processing_state.label.#{model.processing_state}"), class: 'work-state' %>
      </p>
    </div>
  </div>

  <% if model.comments.present? %>
    <div class="row">
      <div class="col-md-6 alert alert-warning feedback-notice">
        <% model.comments.each do |comment| %>
          <p><strong>Feedback from <%= comment.name_of_commentor %></strong>:</p>
          <p><%= comment.comment %></p>
        <% end %>
      </div>
    </div>
    <p><%= link_to "Show all comments", work_comments_path(work_id: model.id) %></p>
  <% end %>

  <div class="row">

    <% if has_available_enrichment_actions  %>
      <aside class="col-md-6 work-tasks">
        <%= content_tag :h2, t('sipity/works.action/show.label.todo_section'), class: 'task-heading' %>
        <div class="todo">
          <% available_enrichment_actions.each do |set, actions| %>
          <%# TODO: the set should be an object not a string; That object should have I18n %>
            <% if actions.present? %>
              <div class="item-set">
                <h3 class="set-title"><%= set.titleize %></h3>
                <ul class="item-list">
                  <% actions.each do |action| %>
                    <li itemprop="potentialAction" itemscope itemtype="http://schema.org/Action" class="todo-item <%= action.state %>">
                      <meta itemprop="name" content="enrichment/<%= set %>/<%= action.name %>" />
                      <div itemprop='target' itemscope itemtype="http://schema.org/EntryPoint">
                        <span class="circle">
                        </span>
                        <% if action.is_complete? %>
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="complete-icon"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
                        <% end %>
                        <span itemprop="name" class="item-name"><%= action.label %></span>
                        <span class="visuallyhidden">is <span itemprop="actionStatus"><%= action.state %></span></span>
                        <a itemprop="url" href="<%= action.path %>" class="todo-item-trigger btn <%= action.button_class %>">Go</a>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= state_advancing_actions %>
      </aside>
    <% end %>

    <%
      if has_available_enrichment_actions
        submission_overview_column_size = 'col-md-6'
      else
        submission_overview_column_size = 'col-md-8'
      end
    %>
    <div class="<%= submission_overview_column_size %>">
      <article class="panel panel-default work-description">
        <div class="panel-heading">
          <%= content_tag :h3, t('sipity/works.action/show.label.overview_section'), class: 'panel-title' %>
        </div>
        <div class="panel-body">
          <dl class="work attribute-listing">
            <dt class="predicate title"><%= model.human_attribute_name(:title) %></dt>
            <dd class="value title"><%= model.title %></dd>
            <dt class="predicate work-type"><%= model.human_attribute_name(:work_type) %></dt>
            <dd class="value work-type">
              <%= t("simple_form.options.defaults.work_type.#{model.work_type}") %>
            </dd>
            <dt class="predicate work_publication_strategy"><%= model.human_attribute_name(:work_publication_strategy) %></dt>
            <dd class="value work_publication_strategy">
              <%= t("simple_form.options.defaults.work_publication_strategy.#{model.work_publication_strategy}") %>
            </dd>
            <% if model.collaborators.present? %>
              <dt class="predicate collaborators"><%= model.human_attribute_name(:collaborators) %></dt>
              <dd class="value collaborators">
                <ul class="nested-attributes-list">
                  <% model.collaborators.each do |collaborator| %>
                    <li class="nested-attribute-list">
                      <dl class="nested-attribute-definition">
                        <dt class="predicate name"><%= collaborator.human_attribute_name(:name) %></dt>
                        <dd class="value name"><%= collaborator.name %></dd>
                        <dt class="predicate role"><%= collaborator.human_attribute_name(:role) %></dt>
                        <dd class="value role"><%= collaborator.role %></dd>
                      </dl>
                    </li>
                  <% end %>
                </ul>
              </dd>
            <% end %>
            <% if model.additional_attributes.any? %>
              <% model.additional_attributes.group_by(&:key).each do |key, attributes| %>
                <dt class="predicate <%=key%>"><%= model.human_attribute_name(key) %></dt>
                <dd class="value">
                  <ul class="occurances">
                  <% attributes.each do |attribute| next unless attribute.value.present? %><li class="occurance <%=key%>"><%= model.rich_text_value(attribute.value) %></li><% end %>
                  </ul>
                </dd>
              <% end %>
            <% end %>
            <% if model.accessible_objects.any? %>
              <dt class="predicate accessible-objects"><%= model.human_attribute_name('access_rights').html_safe %></dt>
              <dd class="value accessible-objects">
                <%= render partial: 'sipity/shared/accessible_objects', object: model.accessible_objects %>
              </dt>
            <% end %>
          </dl>
        </div>
        <% resourceful_actions = model.resourceful_actions(user: current_user) %>
        <% available_resourceful_actions = resourceful_actions.reject{ |action| controller_name == 'works' && action_name == action.name } %>
        <% if available_resourceful_actions.present? %>
          <div class="panel-footer">
            <ul class="action-listing">
              <% available_resourceful_actions.each do |action| %>
                <li itemprop="potentialAction" itemscope itemtype="http://schema.org/Action" class="action-wrapper">
                  <meta itemprop="name" content="event_trigger/<%= action.name %>" />
                  <%= action.render_entry_point %>
                  <span itemprop="actionStatus" class="visuallyhidden"><%= action.availability_state %></span>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </article>
    </div>

  </div><!-- /row -->

  <% unless has_available_enrichment_actions %>
    <div class="row">
      <div class="col-xs-12">
        <%= state_advancing_actions %>
      </div>
    </div><!-- /row -->
  <% end %>

</section>
