<div itemscope itemtype="http://schema.org/CreativeWork">
<div class="card">
  <h2 itemprop="name"><%= model.title %></h2>
  <dl class="work">
    <dt class="predicate title"><%= model.human_attribute_name(:title) %></dt>
    <dd class="value title"><%= model.title %></dt>
    <dt class="predicate work_publication_strategy"><%= model.human_attribute_name(:work_publication_strategy) %></dt>
    <dd class="value work_publication_strategy"><%= model.work_publication_strategy %></dt>
    <% if model.collaborators.any? %>
      <dt class="predicate collaborators"><%= model.human_attribute_name(:collaborators) %></dt>
      <dd class="value collaborators">
        <ul class="collaborators-list">
          <% model.collaborators.each do |collaborator| %>
            <li class="collaborators-list-item">
              <dl class="collaborator">
                <dt class="predicate name"><%= collaborator.human_attribute_name(:name) %></dt>
                <dd class="value name"><%= collaborator.name %></dd>
                <dt class="predicate role"><%= collaborator.human_attribute_name(:role) %></dt>
                <dd class="value role"><%= collaborator.role %></dd>
              </dl>
            </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <% if model.additional_attributes.any? %>
      <% model.additional_attributes.each do |attribute| %>
        <dt><%= attribute.key %></dt>
        <dd><%= attribute.value %></dd>
      <% end %>
    <% end %>
  </dl>

  <div>
    <%# REVIEW: Do I want to be passing the current user to this? It seems as though there is a more elegant option. %>
    <% model.available_linked_actions(user: current_user).each do |action| %>
      <%= action.render(self) %>
    <% end %>
    <div itemprop="hasPart" itemscope itemtype="http://schema.org/Enumeration">
      <meta itemprop="name" content="work>processing_state" />
      <%# Opting to not use a meta-tag instead; If this becomes a meta-tag, then
      the underlying tests will need to change to find[:content] instead of
      find.text %>
      <h3 itemprop="description"><%= model.processing_state %></h3>
      <ul>
        <li itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
          <meta itemprop="name" content="event_trigger>submit_for_review">
          <link itemprop="url" href="<%= event_trigger_for_work_path(model, 'submit_for_review') %>">
          <form itemprop='target' itemscope itemtype="http://schema.org/EntryPoint" method="get" action="<%= event_trigger_for_work_path(model, 'submit_for_review') %>">
            <%= submit_tag("Submit for Review", itemprop: 'name') %>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="todo">
  <%- model.each_todo_item_set do |set, actions| -%>
    <%# TODO: the set should be an object not a string; That object should have I18n %>
    <div>
      <h2><%= set %></h2>
      <ul>
        <%- actions.each do |action| -%>
          <li itemprop="potentialAction" itemscope itemtype="http://schema.org/Action">
            <meta itemprop="name" content="todo><%= set %>><%= action.name %>">
            <span itemprop="description"><%= action.label %></span>
            <span itemprop="actionStatus"><%= action.state %></span>
            <div itemprop='target' itemscope itemtype="http://schema.org/EntryPoint">
              <a itemprop="url" href="<%= action.path %>"><span itemprop="name">Do it!</span></a>
            </div>
          </li>
        <%- end -%>
      <ul>
    </div>
  <%- end -%>
</div>

<div class="recommendations">
  <h2>Recommendations</h2>
  <ul class="recommendations-list">
    <% %w(doi citation).each do |recommendation_name| %>
      <% model.with_recommendation(recommendation_name) do |recommendation| %>
        <li class="recommendations-list-item">
          <h3><%= recommendation.human_name %></h3>
          <dl class="recommendation">
            <dt class="predicate status"><%= recommendation.human_attribute_name(:status) %></dt>
            <dd class="value status"><%= link_to recommendation.human_status, recommendation.path_to_recommendation, class: "recommendation-#{recommendation_name}" %></dd>
          </dl>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
</div>