<div class="card">
  <h2><%= model.title %></h2>
  <dl class="work">
    <dt class="predicate title"><%= model.human_attribute_name(:title) %></dt>
    <dd class="value title"><%= model.title %></dt>
    <dt class="predicate work_publication_strategy"><%= model.human_attribute_name(:work_publication_strategy) %></dt>
    <dd class="value work_publication_strategy"><%= model.work_publication_strategy %></dt>
    <% if model.collaborators.any? %>
      <dt class="predicate collaborators"><%= model.human_attribute_name(:collaborators) %></dt>
      <dd class="value collaborators">
        <ul class="collaborators-list">
          <% model.collaborators.each do |collaborator| %>
            <li class="collaborators-list-item">
              <dl class="collaborator">
                <dt class="predicate name"><%= collaborator.human_attribute_name(:name) %></dt>
                <dd class="value name"><%= collaborator.name %></dd>
                <dt class="predicate role"><%= collaborator.human_attribute_name(:role) %></dt>
                <dd class="value role"><%= collaborator.role %></dd>
              </dl>
            </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <% if model.additional_attributes.any? %>
      <% model.additional_attributes.each do |attribute| %>
        <dt><%= attribute.key %></dt>
        <dd><%= attribute.value %></dd>
      <% end %>
    <% end %>
  </dl>

  <div>
    <% model.available_linked_actions.each do |action| %>
      <%= action.render(self) %>
    <% end %>
  </div>
</div>

<div>
  <h2>Required</h2>
  <ul>
    <%- model.required_enrichment_actions.each do |action| -%>
    <li class="require-<%= action.name %>"><span><%= action.label %></span>
      <%= link_to action.label, action.path_to_new %>
    <%- end -%>
  </ul>
</div>

<div class="recommendations">
  <h2>Recommendations</h2>
  <ul class="recommendations-list">
    <% %w(doi citation).each do |recommendation_name| %>
      <% model.with_recommendation(recommendation_name) do |recommendation| %>
        <li class="recommendations-list-item">
          <h3><%= recommendation.human_name %></h3>
          <dl class="recommendation">
            <dt class="predicate status"><%= recommendation.human_attribute_name(:status) %></dt>
            <dd class="value status"><%= link_to recommendation.human_status, recommendation.path_to_recommendation, class: "recommendation-#{recommendation_name}" %></dd>
          </dl>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
