<%= content_tag :h1, t('sipity/citations.action/show.call_to_action') %>
<%= content_tag :p, t('sipity/citations.action/show.description_html') %>

<div class="panel-tiles">

  <%= simple_form_for(
    model,
    url: work_citation_path(model.work),
    method: :post,
    as: :citation,
    html: { class: 'create_a_citation panel panel-primary with-footer' }
  ) do |f| %>
    <legend class="panel-heading">
      <%= content_tag :h3, t('sipity/citations.panels.new_citation.title_html'), class: 'panel-title' %>
    </legend>

    <fieldset class="panel-body">
      <%= content_tag :p, t('sipity/citations.panels.new_citation.hint'), class: 'panel-hint' %>

      <%= f.error_notification %>

      <%# TODO: make a data-driven controlled vocabulary management service  %>
      <%= f.input :type, collection: ['APA', 'MLA', 'AMA', 'Chicago'], input_html: { class: 'form-control' } %>

      <%= f.input :citation, as: :text, input_html: { class: 'form-control' } %>

    </fieldset>

    <%= model.work.with_action_pane('new_citation', 'panel-footer') do %>
      <%= f.submit %>
    <% end %>
  <% end %>

</div>

<%= model.work.with_action_pane('actions') do %>
  <%= link_to t('sipity/citations.action/show.cancel'), work_path(model.work), class: 'btn btn-default' %>
<% end %>
