<h2>Describe your work</h2>
<%= simple_form_for(model, url: work_work_description_path(model.work), method: :post, as: :describe) do |f| %>
<%= f.error_notification %>
<%= field_set_tag do %>
  <%= f.input :abstract, as: :text %>
  <%= f.submit %>
<% end %>
<% end %>
