<h1>DOI Not Assigned for <span><%= model.header %></span></h1>

<%= render template: 'sip/dois/assign' %>

<p><strong>OR</strong></p>

<%= render template: 'sip/dois/request_a_doi' %>

<p><strong>OR</strong></p>

<h2>Not Now</h2>
<a href="<%= sip_header_path(model.header) %>" class="btn btn-primary">Go back to <%= model.header %></a>
