<h1>DOI Not Assigned for <span><%= model.sip %></span></h1>

<%= render template: 'sipity/dois/assign_a_doi' %>

<p><strong>OR</strong></p>

<%= render template: 'sipity/dois/request_a_doi' %>

<p><strong>OR</strong></p>

<h2>Not Now</h2>
<a href="<%= sip_path(model.sip) %>" class="btn btn-primary">Go back to <%= model.sip %></a>
