<%= simple_form_for(model) do |f| %>
  <%= f.error_notification %>
  <%= model.fieldset_for('attributes') do %>
    <%= f.input :title %>
    <div class="control-group string required sip_header_work_publication_strategy error">
      <%= f.label :work_publication_strategy %>
      <%= f.error :work_publication_strategy %>
      <%= f.hint :work_publication_strategy %>
      <label class="radio">
        <input type="radio" id="visibility_open" name="<%= f.object_name %>[work_publication_strategy]" value="will_not_publish" checked="true"/>
        <span class="label label-success">will_not_publish</span>
      </label>
      <label class="radio">
        <input type="radio" id="visibility_open" name="<%= f.object_name %>[work_publication_strategy]" value="already_published" checked="true"/>
        <span class="label label-success">already_published</span> on <%= f.input_field :publication_date %>.
      </label>
      <label class="radio">
        <input type="radio" id="visibility_open" name="<%= f.object_name %>[work_publication_strategy]" value="going_to_publish" checked="true"/>
        <span class="label label-success">going_to_publish</span>
      </label>
      <label class="radio">
        <input type="radio" id="visibility_open" name="<%= f.object_name %>[work_publication_strategy]" value="do_not_know" checked="true"/>
        <span class="label label-success">do_not_know</span>
      </label>
    </div>
  <% end %>
  <%= model.fieldset_for('collaborators') do %>
    <%= f.fields_for :collaborators do |collaborator_form| %>
      <%= collaborator_form.input :name %>
      <%= collaborator_form.input :role, as: :select, collection: collaborator_form.object.possible_roles %>
    <% end %>
  <% end %>
  <%= model.fieldset_for('actions') do %>
    <%= f.submit %>
  <% end %>
<% end %>
