<dl class="sip_header">
  <dt class="predicate title"><%= model.human_attribute_name(:title) %></dt>
  <dd class="value title"><%= model.title %></dt>
  <dt class="predicate work_publication_strategy"><%= model.human_attribute_name(:work_publication_strategy) %></dt>
  <dd class="value work_publication_strategy"><%= model.work_publication_strategy %></dt>
  <% if model.collaborators.any? %>
    <dt class="predicate collaborators"><%= model.human_attribute_name(:collaborators) %></dt>
    <dd class="value collaborators">
      <ul class="collaborators-list">
        <% model.collaborators.each do |collaborator| %>
          <li class="collaborators-list-detail">
            <dl class="collaborators-detail">
              <dt class="predicate name"><%= collaborator.human_attribute_name(:name) %></dt>
              <dd class="value name"><%= collaborator.name %></dd>
              <dt class="predicate role"><%= collaborator.human_attribute_name(:role) %></dt>
              <dd class="value role"><%= collaborator.role %></dd>
            </dl>
          </li>
        <% end %>
      </ul>
    </dd>
  <% end %>
</dl>