<div class="row dashboard-actions">
  <div class="col-sm-9">
    <%= form_tag(view.search_path, method: 'get', class: 'form-inline') do %>
      <fieldset class="form-group">
        <%# This is the very specific case, to get things working. %>
        <%= select_tag(
              :processing_state,
              options_from_collection_for_select(view.filterable_processing_states, :to_s, :humanize, view.processing_state),
              include_blank: true,
              class: 'form-control'
        ) %>
      </fieldset>
      <%= submit_tag("Filter", class: 'btn btn-default') %>
    <% end %>
  </div>
  <div class="col-sm-3 work-create">
    <%= link_to t('application.actions.create_work'), start_path, class: 'btn btn-primary' %>
  </div>
</div>

<%= paginate(view.works_scope) %>
<div class="row">
  <div class="col-xs-12 work-listing">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Type</th>
          <th>Creator(s)</th>
          <th>Processing State</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        <% view.works.each do |work| %>
          <tr>
            <td><%= link_to(work.title, work_path(work)) %></td>
            <td><%= work.work_type.humanize %></td>
            <td><%= work.creator_names.to_sentence %></td>
            <td><%= work.processing_state.humanize %></td>
            <td><%= work.date_created %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
