<h1>Set Access Controls</h1>

<%= simple_form_for(model, url: request.path, method: :post, as: :work, html: { class: 'simple-form panel panel-primary with-footer' }) do |f| %>
  <legend class="panel-heading">
    <h3 class="panel-title">
      Please choose the <b>release options</b> for your work
    </h3>
  </legend>

  <fieldset class="panel-body">
    <p class="panel-hint">
      Please choose the <i>access controls</i> for the record of your work and its attachments.
      The access controls determine who will be able to see the material when the submission process is complete.
    </p>
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>
    <table class="table">
      <caption><!--TODO? Should we have a caption? --></caption>
      <thead>
        <tr>
          <th>Type</th>
          <th>Title</th>
          <th class="single-option">Open Access</th>
          <th class="single-option">Restricted to Notre Dame</th>
          <th class="single-option">Private</th>
          <th>Embargo then Open Access</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :accessible_objects do |field| %>
          <tr class="accessible-object <%= dom_class(field.object.entity_type) %>">
            <td>
              <p class="human-model-name"><%= field.object.accessible_object_type %></p>
            </td>
            <td>
              <p class="title"><%= field.object %></p>
            </td>
            <td class="single-option">
              <label class="radio-inline">
                <%= field.radio_button(:access_right_code, Sipity::Models::AccessRight::OPEN_ACCESS) %>
                &#8203;
              </label>
            </td>
            <td class="single-option">
              <label class="radio-inline">
                <%= field.radio_button(:access_right_code, Sipity::Models::AccessRight::RESTRICTED_ACCESS) %>
                &#8203;
              </label>
            </td>
            <td class="single-option">
              <label class="radio-inline">
                <%= field.radio_button(:access_right_code, Sipity::Models::AccessRight::PRIVATE_ACCESS) %>
                &#8203;
              </label>
            </td>
            <td>
              <label class="radio-inline">
                <%= field.radio_button(:access_right_code, Sipity::Models::AccessRight::EMBARGO_THEN_OPEN_ACCESS) %>
                released on
              </label>
              <%= field.input :release_date,
                as: :date,
                input_html: { class: 'form-control' },
                include_blank: true,
                label: false,
                required: false,
                wrapper_html: { class: 'form-inline form-inline-block' }
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
      <% if model.available_representative_attachments.any? %>
        <%= f.input :representative_attachment_id, collection: model.available_representative_attachments, input_html: { class: 'form-control' }, required: true %>
      <% end %>
    </div>
  </fieldset>
  <div class="panel-footer action-pane">
    <%= f.submit nil, name: "form/#{model.processing_action_name}/submit" %>
  </div>
<% end %>

<div class="action-pane">
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
