<h1>Attach your <b>Letter of Recommendation</b></h1>

<%= simple_form_for(view_object, url: request.path, as: :work, method: :post, html: { class: 'simple-form panel panel-primary with-footer' }) do |f| %>
  <legend class="panel-heading">
    <h3 class="panel-title">Letter of Recommendation</h3>
  </legend>

  <fieldset class="panel-body">
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>
    <p class="panel-hint">The letter of recommendation you upload will only be visible to:
      <ul>
        <li><strong>you</strong></li>
        <li>review <strong>committee</strong> members</li>
        <li>the <strong>student</strong> for whom you are submitting this letter of recommendation</li>
      </ul>
    </p>
    <div class="panel-tiles">
      <%= f.input :files, as: :file, input_html: { multiple: false }, label: "Upload letter of recommendation" %>
      <% if model.attachments.any? %>
        <ol class="attachment-listing">
          <%= f.fields_for :attachments do |attachment_form| %>
            <li class="attachement form-inline">
              <figure class="thumbnail-wrapper">
                <%= link_to(
                      image_tag(attachment_form.object.thumbnail_url, alt: attachment_form.object.name, class: 'img-thumbnail'),
                      attachment_form.object.file_url,
                      target: '_blank'
                    )
                 %>
              </figure>
              <%= attachment_form.input :name, input_html: { class: 'form-control' } %>
              <%= attachment_form.input :delete, as: :boolean, wrapper_html: { class: 'checkbox' } %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div>
  </fieldset>

  <div class="panel-footer action-pane">
    <%= f.submit nil, name: "form/#{model.processing_action_name}/submit" %>
  </div>
<% end %>

<div class="action-pane">
<%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
