<h1>Tell us more about yourself</h1>

<%= simple_form_for(view_object, url: request.path, as: :work, method: :post, html: { class: 'simple-form panel panel-primary with-footer' }) do |f| %>
  <legend class="panel-heading">
    <h3 class="panel-title">Plan of Study</h3>
  </legend>

  <fieldset class="panel-body">
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>
    <div class="panel-tiles">
      <%= f.input :primary_college, as: :select, collection: f.object.possible_colleges, input_html: { class: 'form-control' }  %>
      <%= f.input :underclass_level, as: :select, collection: f.object.possible_underclass_levels, input_html: { class: 'form-control' }  %>
      <%= f.input :expected_graduation_term, as: :select, collection: f.object.possible_expected_graduation_terms, input_html: { class: 'form-control' } %>
      <%= f.input :majors, as: :multi_value, input_html: { class: 'form-control input-xlarge' }, label: "Major(s)", hint: "(e.g., Psychology, Pre-Professional)"  %>
      <%= f.input :minors, as: :multi_value, input_html: { class: 'form-control input-xlarge' }, label: "Minor(s)", hint: "(e.g., Theology, Philosophy)"  %>
    </div>
  </fieldset>

  <div class="panel-footer action-pane">
    <%= f.submit nil, name: "form/#{model.processing_action_name}/submit" %>
  </div>
<% end %>

<div class="action-pane">
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
