<h1><%= model.translate(:call_to_action, predicate: :heading) %></h1>

<div class="panel-tiles">

  <%= simple_form_for(
    model,
    url: request.path,
    method: :post,
    as: :work,
    html: { class: 'simple-form panel panel-primary with-footer' }
  ) do |f| %>
    <legend class="panel-heading">
      <%= content_tag :h3, t("sipity/decorators/entitiy_enrichments.panels.publication_name.title_html"), class: 'panel-title' %>
    </legend>

    <fieldset class="panel-body">
      <%= content_tag :p, t("sipity/decorators/entitiy_enrichments.panels.publication_name.hint_html"), class: 'panel-hint' %>
      <%= f.error_notification %>
      <%= f.error :base, error_method: :to_sentence %>
      <%= f.input :publication_name, input_html: { class: 'form-control' } %>

      <%= f.input :allow_pre_prints, as: :radio_buttons, collection: model.available_options_for_allow_pre_prints %>
    </fieldset>

    <div class="panel-footer action-pane">
      <%= f.submit nil, name: "form/#{model.processing_action_name}/submit" %>
    </div>
  <% end %>
</div>

<div class="action-pane">
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
