<%= content_tag :h1, t('sipity/dois.action/show.call_to_action') %>
<%= content_tag :p, t('sipity/dois.action/show.description_html') %>

<div class="panel-tiles">
  <%= render template: 'sipity/controllers/dois/assign_a_doi' %>
  <%= render template: 'sipity/controllers/dois/request_a_doi' %>
</div>

<div class="action-pane">
  <%= link_to t('sipity/dois.action/show.cancel'), work_path(model.work), class: 'btn btn-default' %>
</div>
