<h1>DOI Not Assigned for <span><%= model.work %></span></h1>

<%= render template: 'sipity/controllers/dois/assign_a_doi' %>

<p><strong>OR</strong></p>

<%= render template: 'sipity/controllers/dois/request_a_doi' %>

<p><strong>OR</strong></p>

<h2>Not Now</h2>
<a href="<%= work_path(model.work) %>" class="btn btn-primary">Go back to <%= model.work %></a>
