<%= simple_form_for(
  model.request_a_doi_form,
  url: request_a_doi_work_doi_path(model.work),
  method: :post,
  as: :doi,
  html: { class: 'create_a_doi panel panel-primary with-footer' }
) do |f| %>
  <legend class="panel-heading">
    <%= content_tag :h3, t('sipity/dois.panels.new_doi.title_html'), class: 'panel-title' %>
  </legend>
  <fieldset class="panel-body">
    <%= content_tag :p, t('sipity/dois.panels.new_doi.hint'), class: 'panel-hint' %>
    <%= f.error_notification %>
    <dl>
      <dt>Title</dt>
      <dd><%= f.object.title %></dd>
    <% if f.object.authors.any? %>
      <dt>Authors</dt>
      <dd>
        <ul>
          <% f.object.authors.each do |author| %>
            <li><%= author %></li>
          <% end %>
        </ul>
      </dd>
    </dl>
    <% else %>
      <%= f.input :authors %>
    <% end %>
    <%= f.input :publisher %>
    <%= f.input :publication_date %>
  </fieldset>
  <%= model.work.with_action_pane('new_doi', 'panel-footer') do %>
    <%= f.submit %>
  <% end %>
<% end %>
