<%= simple_form_for(view_object, url: request.path, as: :submission_window, method: :post) do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, error_method: :to_sentence %>
  <div class="panel-tiles">
    <%= render(layout: 'sipity/form_panel', locals: { name: 'title', theme: :primary, object: view_object }) do %>
      <%= f.input :title, as: :text, input_html: { class: 'redactor-input form-control' }, label: false %>
    <% end %>
    <%= render(layout: 'sipity/form_panel', locals: { name: 'award_category', theme: :primary, object: view_object }) do %>
      <%= f.input :award_category, as: :radio_buttons, collection: view_object.award_categories_for_select, label: false %>
    <% end %>
    <%= render(layout: 'sipity/form_panel', locals: { name: 'course_information', theme: :primary, object: view_object }) do %>
      <%= f.input :course_name, hint: "e.g., Le patrimoine un concept en crise" %>
      <%= f.input :course_number, hint: "e.g., ROFR 30604" %>
    <% end %>
    <%= render(layout: 'sipity/form_panel', locals: { name: 'advisor_netid', theme: :primary, object: view_object }) do %>
      <%= f.input :advisor_name %>
      <%= f.input :advisor_netid %>
    <% end %>
  </div>
  <div class="action-pane">
    <%= f.submit "Start ULRA Application" %>
  </div>
<% end %>

