<%= simple_form_for(view_object, url: view_object.form_path, as: :submission_window, method: :post) do |f| %>
  <%= f.error_notification %>
  <%= f.error :base, error_method: :to_sentence %>
  <div class="panel-tiles">
    <%= render(layout: 'sipity/form_panel', locals: { name: 'title', theme: :primary, object: view_object }) do %>
      <%= f.input :title, as: :text, input_html: { class: 'sipity_redactor form-control' }, label: false %>
    <% end %>
    <%= render(layout: 'sipity/form_panel', locals: { name: 'work_type', theme: :primary, object: view_object }) do %>
      <%= f.input :work_type, as: :select, collection: view_object.work_types_for_select, input_html: { class: 'form-control' }, label: false %>
    <% end %>
    <%= render(layout: 'sipity/form_panel', locals: { name: 'work_publication_strategy', theme: :primary, object: view_object }) do %>
      <%= f.input :work_publication_strategy, as: :radio_buttons, collection: view_object.work_publication_strategies_for_select, label: false %>
    <% end %>
    <%= render(layout: 'sipity/form_panel', locals: { name: 'work_patent_strategy', theme: :primary, object: view_object }) do %>
      <%= f.input :work_patent_strategy, as: :radio_buttons, collection: view_object.work_patent_strategies_for_select, label: false %>
    <% end %>
    <%= render(layout: 'sipity/form_panel', locals: { name: 'access_rights_answer', theme: :primary, object: view_object }) do %>
      <%= f.input :access_rights_answer, as: :radio_buttons, collection: view_object.access_rights_answer_for_select, label: false %>
    <% end %>
  </div>
  <div class="action-pane">
    <%= f.submit %>
  </div>
<% end %>
