<h1>People Involved</h1>

<%= simple_form_for(
  model,
  url: request.path,
  method: :post,
  as: :work,
  html: { class: 'simple-form panel panel-primary with-footer' }
) do |f| %>
  <legend class="panel-heading">
    <h3 class ='panel-title'>Please identify the members of the <b>advisory committee</b></h3>
  </legend>

  <fieldset class="panel-body">
    <p class="panel-hint">You must have at least one person Research Director assigned for your submission.</p>
    <p class="panel-hint">
      Request for approval emails will only be sent to Research Directors who are added by NetID.
      If you have a co-director who does not have a NetID,
      please add them by email and ask them to contact <%= mail_to 'dteditor@nd.edu' %> to approve this work for submission to the Graduate School.
      Once we have their permission, the Graduate School editor will sign-off on their behalf.
    </p>
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>

    <table class="table expandible collaborators" data-manage_sections-label="Add another Person">
      <thead>
        <tr>
          <%= content_tag :th, t('activerecord.attributes.sipity/models/collaborator.name') %>
          <%= content_tag :th, t('activerecord.attributes.sipity/models/collaborator.role') %>
          <%= content_tag :th, t('activerecord.attributes.sipity/models/collaborator.contact_information') %>
          <th class="row-controls"></th>
        </tr>
      </thead>
      <tfoot>
        <td colspan="5" class="table-controls">
        </td>
      </tfoot>
      <tbody>
        <%= f.fields_for :collaborators do |collaborator_form| %>
          <tr class='repeat'>
            <td class="name">
              <%= collaborator_form.input :name,
                label: false,
                wrapper: false,
                input_html: {
                  class: 'form-control'
                }
              %>
            </td>
            <td class="role">
              <%= collaborator_form.input :role,
                as: :select,
                collection: model.possible_roles,
                label: false,
                wrapper: false,
                input_html: {
                  class: 'form-control'
                }
              %>
            </td>
            <td class="js-hidden contact-information form-inline">
              <span class="form-group">
                <span class="netid scope">ND:</span>
                <%= collaborator_form.input :netid,
                  label: false,
                  wrapper: false,
                  input_html: {
                    class: 'form-control',
                    placeholder: t('activerecord.attributes.sipity/models/collaborator.netid')
                  }
                %>
              </span>
              <span class="choice">
                <strong>OR</strong>
              </span>
              <span class="form-group">
                <span class="email scope">Non-ND:</span>
                <%= collaborator_form.input :email,
                  as: :email,
                  label: false,
                  wrapper: false,
                  input_html: {
                    class: 'form-control',
                    placeholder: t('activerecord.attributes.sipity/models/collaborator.email')
                  }
                %>
              </span>
            </td>
            <td class="row-controls">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>

  <div class="panel-footer action-pane">
    <%= f.submit nil, name: "form/#{model.processing_action_name}/submit" %>
  </div>
<% end %>

<div class="action-pane">
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
