<h1>Degree</h1>

<%= simple_form_for(
  model,
  url: request.path,
  method: :post,
  as: :work,
  html: { class: 'simple-form panel panel-primary with-footer' }
) do |f| %>
  <legend class="panel-heading">
    <h3 class="panel-title">Please choose a <b>degree</b> for this work</h3>
  </legend>

  <fieldset class="panel-body">
    <p class="panel-hint">Select the degree for which you are submitting this work</p>
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>
    <%= f.input :degree, collection: model.available_degrees, input_html: { class: 'form-control', selected: model.degree } %>
    <%= f.input :program_name, collection: model.available_program_names, input_html: { class: 'form-control', multiple: true, selected: model.program_name } %>
  </fieldset>

  <div class="panel-footer action-pane">
    <%= f.submit nil, name: "form/#{model.processing_action_name}/submit" %>
  </div>
<% end %>

<div class="action-pane">
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
