<h1 class='centered with-bottom-padding'><%= model.translate(:call_to_action, predicate: :heading) %></h1>
<p><%= model.translate(:call_to_action, predicate: :description) %></p>

<div class="panel-tiles">

  <%= simple_form_for(
    model,
    url: request.path,
    method: :post,
    as: :work,
    html: { class: 'simple-form panel panel-primary with-footer' }
  ) do |f| %>
    <legend class="panel-heading">
      <h3 class="panel-title"><%= model.translate(:panel, predicate: :title) %></h3>
    </legend>

    <fieldset class="panel-body">
      <h3 class="panel-hint"><%= model.translate(:panel, predicate: :hint) %></h3>
      <%= f.error_notification %>
      <%= f.error :base, error_method: :to_sentence %>
      <%= f.input :work_publication_strategy, as: :radio_buttons, collection: view_object.work_publication_strategies_for_select %>
      <%= f.input :work_patent_strategy, as: :radio_buttons, collection: view_object.work_patent_strategies_for_select %>
    </fieldset>

    <div class="panel-footer action-pane">
      <%= f.submit nil, name: "form/#{model.processing_action_name}/submit" %>
    </div>
  <% end %>
</div>

<div class="action-pane">
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
