<p><em><%= @entity.title %></em> (<%= @entity.work_type %>) by <%= @entity.creator_names.to_sentence %> is ready for Grad School Review at <%= link_to @entity.email_message_action_url, @entity.email_message_action_url %></p>
<p>
  All advisors have signed off (see the list below).
  <ul>
    <% @entity.collaborators.each do |advisor| %>
      <li>
        <strong><%= advisor.role %>:</strong>
        <%= advisor.name %> <%= "(NetID: #{mail_to(advisor.netid + '@nd.edu', advisor.netid)})".html_safe if advisor.netid.present? %> <%= "(Email: #{mail_to(advisor.email)})".html_safe if advisor.email.present? %>
      </li>
    <% end %>
  </ul>
</p>

<%= render(partial: 'sipity/mailers/etd_mailer/action_in_the_inbox', object: @entity) %>
