<p>The following <%= @entity.work_type %> is ready for cataloging. Please review:</p>

<p>Author summary:</p>
<ul>
  <li>Author Name: <%= @entity.creator_names.to_sentence %></li>
  <li>NetID: <%= @entity.creator_netids.to_sentence %></li>
  <li>Program(s): <%= @entity.program_names.to_sentence %></li>
  <li>Degree: <%= @entity.degree.to_sentence %></li>
</ul>

<p>ETD record summary:</p>
<ul>
  <li>Title: <%= @entity.title %></li>
  <li>Submitted for advisor approval: <%= @entity.submission_date.to_sentence %></li>
  <li>Link to <%= @entity.work_type %>: <%= link_to(@entity.email_message_action_url, @entity.email_message_action_url) %></li>
</ul>

<%= render partial: 'sipity/mailers/etd_mailer/grad_school_email_signature' %>
<%= render(partial: 'sipity/mailers/etd_mailer/action_in_the_inbox', object: @entity) %>
