<p>
  Another congratulations!
  Your <%= @entity.work_type %> has been cataloged and deposited into CurateND.
</p>

<p>
  The official URL for your <%= @entity.work_type %> is: <%= link_to @entity.permanent_url, @entity.permanent_url %>.
  You may still access your <%= @entity.work_type %> by going to <%= link_to @entity.email_message_action_url, @entity.email_message_action_url %>.
</p>

<%= render partial: 'sipity/mailers/etd_mailer/grad_school_email_signature' %>
<%= render(partial: 'sipity/mailers/etd_mailer/action_in_the_inbox', object: @entity) %>
