<h2>Assign a Citation?</h2>
<%= simple_form_for(model, url: sip_header_citation_path(model.header), method: :post, as: :citation) do |f| %>
  <%= f.error_notification %>
  <%= field_set_tag do %>
    <%= f.input :citation, as: :text %>
    <%= f.input :type %>
    <%= f.submit %>
  <% end %>
<% end %>
