

  <div class="control-group string required sipity_work_attachments error">
    <%= f.label :remove_files %>
    <%= f.error :remove_files %>
    <%= f.hint :remove_files %>
    <% model.attachments.each do |file|%>
    <label class="checkbox">
      <input type="checkbox" name="<%= f.object_name %>[remove_files][]" value= "<%= file.file_name %>"/>
      <span><%= file.name %></span>
    </label>
    <% end %>
  </div>

