<!-- TODO: Internationalize the enrichment option -->
<h2>Describe your work</h2>
<%= simple_form_for(model, url: enrich_work_path(model.work, model.enrichment_type), method: :post, as: :work) do |f| %>
  <%= f.error_notification %>
  <%= field_set_tag do %>
    <%= f.input :files, as: :file, input_html: { multiple: 'multiple' } %>
  <% end %>

  <% if model.attachments.any? %>
    <%= field_set_tag do %>
      <%= f.input :mark_as_representative, as: :radio_buttons, collection: model.attachments, checked: model.representative_attachment %>
    <% end %>
    <%= field_set_tag do %>
      <%= f.fields_for :attachments do |attachment_form| %>
        <%= attachment_form.input :name %>
        <%= attachment_form.input :delete, as: :boolean %>
        <%= image_tag attachment_form.object.thumbnail_url %>
      <% end %>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
