<!-- TODO: Internationalize the enrichment option -->
<h2>Describe your work</h2>
<%= simple_form_for(model, url: enrich_work_path(model.work, model.enrichment_type), method: :post, as: :work) do |f| %>
  <%= f.error_notification %>
  <%= field_set_tag do %>
    <%= f.input :files, as: :file, input_html: { multiple: 'multiple' } %>
  <% end %>

  <%= field_set_tag do %>
    <%= f.fields_for model.existing_attachments do |attachment_form| %>
      <%= attachment_form.input :name%>
      <%= attachment_form.input :mark_as_representative, as: :radio_buttons %>
      <%= attachment_form.input :_destroy, boolean: true %>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
