<%= content_tag :h1, t("sipity/decorators/entitiy_enrichments.call_to_action.#{model.enrichment_type}") %>
<% description = t("sipity/decorators/entitiy_enrichments.description.#{model.enrichment_type}") %>
<%= content_tag( :p, description) if description.present? %>

<div class="panel-tiles">

  <%= simple_form_for(
    model,
    url: enrich_work_path(model.work, model.enrichment_type),
    method: :post,
    as: :work,
    html: { class: 'panel panel-primary with-footer' }
  ) do |f| %>
    <legend class="panel-heading">
      <%= content_tag :h3, t("sipity/decorators/entitiy_enrichments.panels.abstract.title_html"), class: 'panel-title' %>
    </legend>

    <fieldset class="panel-body">
      <%= content_tag :p, t("sipity/decorators/entitiy_enrichments.panels.abstract.hint"), class: 'panel-hint' %>
      <%= f.error_notification %>

      <%= f.input :title, input_html: { class: 'form-control' }  %>

      <%= f.input :abstract, as: :text, input_html: { class: 'form-control', rows: 5 } %>

      <% 
        #TODO 
        #This is just a place holder for alternate_title
      %>

      <%= f.input :alternate_title, input_html: { class: 'form-control' }  %>

    </fieldset>

    <div class="panel-footer action-pane">
      <%= f.submit nil, name: "form/#{model.enrichment_type}/submit" %>
    </div>
  <% end %>

</div>

<div class="action-pane">
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
</div>
