<h2>Describe your work</h2>
<%= simple_form_for(model, url: enrich_work_path(model.work, model.enrichment_type), method: :post, as: :work) do |f| %>
  <%= f.error_notification %>
  <%= field_set_tag do %>
    <%= f.input :abstract, as: :text %>
    <%= f.submit %>
  <% end %>
<% end %>
