<%= content_tag :h1, t("sipity/decorators/entitiy_enrichments.call_to_action.#{model.enrichment_type}") %>
<% describe = t("sipity/decorators/entitiy_enrichments.description.#{model.enrichment_type}") %>
<%= content_tag( :p, describe) if describe.present? %>

<div class="panel-tiles">

  <%= simple_form_for(
    model,
    url: enrich_work_path(model.work, model.enrichment_type),
    method: :post,
    as: :work,
    html: { class: 'panel panel-primary with-footer' }
  ) do |f| %>
    <legend class="panel-heading">
      <%= content_tag :h3, t("sipity/decorators/entitiy_enrichments.panels.#{model.enrichment_type}.title_html"), class: 'panel-title' %>
    </legend>

    <fieldset class="panel-body">
      <%= content_tag :p, t("sipity/decorators/entitiy_enrichments.panels.#{model.enrichment_type}.hint"), class: 'panel-hint' %>
      <%= f.error_notification %>

      <% 
        # TODO 
        # appropriate styling required
      %>

      <%= f.input :subject, as: :multi_value, input_html: { class: 'form-control input-xlarge' }  %>
      <%= f.input :language, as: :multi_value, input_html: { class: 'form-control input-xlarge' } %>
      <%= f.input :temporal_coverage, as: :multi_value, input_html: { class: 'form-control input-xlarge' } %>
      <%= f.input :spatial_coverage, as: :multi_value, input_html: { class: 'form-control input-xlarge' } %>

    </fieldset>

    <%= model.work.with_action_pane('new_citation', 'panel-footer') do %>
      <%= f.submit nil, name: "form/#{model.enrichment_type}/submit" %>
    <% end %>
  <% end %>

</div>

<%= model.work.with_action_pane('actions') do %>
  <%= link_to t("sipity/decorators/entitiy_enrichments.cancel"), work_path(model.work), class: 'btn btn-default' %>
<% end %>
