<%= simple_form_for(@mock_agent, as: :mock_agent, url: mock_authentication_path, html: { class: 'simple-form panel panel-primary with-footer' }) do |f| %>
  <legend class="panel-heading">
    <h3 class ='panel-title'>It's Time to Play Pretend</h3>
  </legend>

  <fieldset class="panel-body">
    <p class="panel-hint">What identity do you want to pretend is your primary identity?</p>
    <%= f.error_notification %>
    <%= f.error :base, error_method: :to_sentence %>

    <%= f.input :strategy, collection: @mock_agent.available_primary_strategies %>
    <%= f.input :identifying_value %>
    <%= f.input :email, hint: 'What email address should receive any of the notifications?' %>

    <table class="table expandible collaborators" data-manage_sections-label="Add another">
      <caption>What additional identities do you want to pretend you have?</caption>
      <thead>
        <tr>
          <th>Strategy</th>
          <th>Identifying Value</th>
          <th class="row-controls"></th>
        </tr>
      </thead>
      <tfoot>
        <td colspan="3" class="table-controls">
        </td>
      </tfoot>
      <tbody>
        <%= f.fields_for :verified_identifiers do |verified_form| %>
          <tr class='repeat'>
            <td class="name">
              <%= verified_form.input(
                :strategy, collection: @mock_agent.available_strategies, label: false, wrapper: false,
                input_html: { class: 'form-control' }
              ) %>
            </td>
            <td class="identifying_value">
              <%= verified_form.input(
                :identifying_value, label: false, wrapper: false,
                input_html: { class: 'form-control' }
              ) %>
            </td>
            <td class="row-controls">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </fieldset>

  <div class="panel-footer action-pane">
    <%= f.submit "Don thy Identity!" %>
  </div>
<% end %>
