<p>Your research director, <%= @entity.name_of_commentor %>, has indicated that updates are required to your <%= @entity.document_type %> or to the submission options you’ve chosen.  Once you have addressed the director’s concerns, please upload a revised PDF to this record. Your director will then be prompted to review the new file.</p>
<p><strong>Reviewer Comments:</strong></p>

<p><%= @entity.comment %></p>

<p>If you have not yet submitted the other items required, please refer to the Graduate School’s <a href="http://www.google.com/url?q=http%3A%2F%2Fgraduateschool.nd.edu%2Fresources-for-current-students%2Fdt%2Fdt-checklist%2F&sa=D&sntz=1&usg=AFQjCNGvwVT72W1yRY7b1cf01bMby9lmxw">submission checklist</a>. If you have questions about your ETD record or the other submission materials, please contact me or my assistant at <a href="mailto:dteditor@nd.edu" target="_top">dteditor@nd.edu</a> or 574-631-7545 for assistance.</p>

<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>
