<p><%= @entity.title %> (<%= @entity.document_type %>) by <%= @entity.creator_names %> is ready for Grad School Review at <%= link_to @entity.review_link, @entity.review_link %></p>
<p>
  All advisors have signed off (see the list below).
  <ul>
    <% @entity.collaborators.each do |advisor| %>
      <li>
        <dl>
          <dt>Name:</dt>
          <dd><%= advisor.name %></dd>
          <dt>NetID:</dt>
          <dd><%= advisor.netid %></dd>
          <dt>Email:</dt>
          <dd><%= advisor.email %></dd>
          <dt>Role:</dt>
          <dd><%= advisor.role %></dd>
        </dl>
      </li>
    <% end %>
  </ul>
</p>

<%= render(partial: 'action_in_the_inbox', object: @entity) %>