<p>
  Your research director, <%= @entity.name_of_commentor %>, has indicated that update are required to <%= @entity.work_type %> or to the submission options you've chosen.
  Once you have addressed the director's concerns, please upload a revised PDF to this record.
  Your director will then be prompted to review the changes.
</p>

<p><strong><%= @entity.name_of_commentor %> Comments:</strong></p>

<blockquote><%= @entity.comment %></blockquote>

<%= render partial: 'etd_submission_assistance' %>
<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>
