<p>
  Your research director, <%= @entity.name_of_commentor %>,
  reviewed your <%= @entity.document_type %> and has indicated that the submitted file(s) or ETD record requires corrections or clarification.
</p>

<p><strong><%= @entity.name_of_commentor %> Comments:</strong></p>

<p><%= @entity.comment %></p>

<%= render partial: 'etd_submission_assistance' %>
<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>
