<p><%= @entity.creator_names %> has begun the formal electronic submission process for a <%= @entity.document_type %>, and has identified you as a primary research director or advisor for this document. As part of the formal submission, the Graduate School requires your approval before the submission can move forward for our review.</p>
<p>To review and approve this <%= @entity.document_type %> for formal submission to the Graduate School, you may either:</p>
<ul>
  <li>Log in to <%= link_to "the ETD site", @entity.email_message_action_url %> with your personal NetID and password to go directly to this student’s submission; or</li>
  <li>Provide two copies of the printed title page with your original signature.</li>
</ul>
<p>If you have questions about this process, do not currently have a NetID, or are unable to complete either of thses approval options, please <a href="mailto:shill2@nd.edu" target="_top">shill2@nd.edu</a> or 574-631-7545 for assistance.</p>

<%= render partial: 'grad_school_email_signature' %>
<%= render(partial: 'action_in_the_inbox', object: @entity) %>
